.banner {
  background-image: linear-gradient(rgba(38,70,83,0.6), rgba(38,70,83,0.6)), url('../images/banner.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 180px 0;
}

.banner h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 20px;
  margin-bottom: 30px;
}
